<container class="header">
    <spacer size="25"></spacer>
    <row class="header-row">
        <columns large="8" small="12" valign="middle">
            <a href="https://acon3d.com">
                <img src="http://d1on3zb5xvwfgg.cloudfront.net/public_images/email/v2/logo.png" class="logo">
            </a>
        </columns>
        <columns large="4" small="12" valign="middle">
            <table class="menu">
                <tr><td><table><tr>

                    <th class="menu-item menu-right">
                        <a href="https://www.facebook.com/acon3d/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=190814">
                            <img src="http://d1on3zb5xvwfgg.cloudfront.net/public_images/email/v2/facebook.png" class="social-icon">
                        </a>
                    </th>


                    <th class="menu-item menu-right">
                        <a href="https://www.instagram.com/acon3d.official/?hl=ko">
                            <img src="http://d1on3zb5xvwfgg.cloudfront.net/public_images/email/v2/instagram.png" class="social-icon">
                        </a>
                    </th>

                    <th class="menu-item menu-right">
                        <a href="https://twitter.com/ACON3D?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=190814">
                            <img src="http://d1on3zb5xvwfgg.cloudfront.net/public_images/email/v2/twitter.png" class="social-icon">
                        </a>
                    </th>
                </tr></table></td></tr>
            </table>
        </columns>
    </row>
</container>